## Clustering

In [77]:
import pandas as pd

df = pd.read_excel("kmeans_dataset.xlsx")
df.head()

,ID Tag,Model,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost,Department
0,1,MYLAB ALPHA,10,43.333333,54.166667,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING
1,2,ASPEN,1,24.000000,30.000000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING
2,3,IE33,4,210.000000,262.500000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING
3,4,BVI 9400,9,54.666667,68.333333,1,0.0,2.0,150.0,REHAB CENTER
4,5,BVI 9400,1,102.000000,127.500000,0,0.0,2.0,150.0,REHAB CENTER

Now, we are going to drop a few columns: ID Tag â€“ is a random number, has no value in clustering. Then Model and Department,as they are text and while there are ways to work with the text, it is more complicated so for now, we are just going to drop the columns

In [78]:
df1 = df.drop(["ID Tag", "Model", "Department"], axis = 1)
df1.head()

,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost
0,10,43.333333,54.166667,0,0.0,2.0,150.0
1,1,24.000000,30.000000,0,0.0,2.0,150.0
2,4,210.000000,262.500000,0,0.0,2.0,150.0
3,9,54.666667,68.333333,1,0.0,2.0,150.0
4,1,102.000000,127.500000,0,0.0,2.0,150.0

So now the question is how to determine the optimal number of clusters.One thing you can do is check the distance from you points to the cluster center using inertia_ function from scikit learn.

To make it explicit, we can look at a list of interia_ for a range of cluster choices by setting up a loop. The value you'll get for each iteration will be the sum of distances from your sample points to the cluster center.

Now lets import KMeans from sklearn.cluster

We then initialize KMeans 
- n_clusters : number of clusters you want, 
- init : sets how the centroids are places. k-means++ is one of the faster methods of centroid placement, 
- n_init : number times the algorithm with run placing new centroids each iteration

In [72]:
n = int(input("Enter Starting Cluster: "))
n1 = int(input("Enter Ending Cluster: "))
for i in range(n,n1):
    km = KMeans(n_clusters=i, init='k-means++', n_init=10)
    km.fit(df1)
    print (i, km.inertia_)

Enter Starting Cluster: 3
Enter Ending Cluster: 25
3 2433102.95989
4 1954094.51568
5 1563055.50633
6 1212554.76551
7 990478.924291
8 809110.623741
9 685613.062379
10 600628.039306
11 522938.384035
12 438433.874564
13 412320.696567
14 383100.773894
15 358571.25796
16 325672.663365
17 301419.699424
18 278017.789767
19 264085.083151
20 240136.08151
21 221977.628287
22 203506.47642
23 190802.974192
24 171005.557395

The trick to reading the results is look for the point of diminishing returns. Cluster 12 is where I would look. The changes in values start slowing down here. 

The drop in number goes from couple hundred thousands to ten thousands. That is a diminished return. The new result is not that much better than the earlier result. As opposed to #11 and #12 where #12 clusters perform 100,000 units better.

Fit the model with the settled number of clusters.

In [79]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=12, init='k-means++', n_init=10)

The result is the sum of distances from your sample points to the cluster center.

What you need to do is look at a list of interia_ for a range of cluster choices.

*inertia_ : Sum of distances of samples to their closest cluster center.*

Now, export the cluster identifiers to a list. Notice my values are 0 - 3. One value for each cluster.

In [80]:
x = km.fit_predict(df1)
x

array([ 1,  1,  6,  1, 10,  6,  7, 10,  4,  4,  4,  6,  8, 10,  7,  1, 10,
       10,  4,  1,  4,  1,  9,  9,  1, 10,  7, 10, 10,  2, 10,  1, 10,  0,
       10,  2,  6,  4, 10,  8,  4, 10, 10,  1, 10,  1, 10,  6, 10,  6,  1,
       10,  6,  1,  6,  3,  1,  1,  6, 10, 10, 10, 10,  1, 10,  1, 10, 10,
       10,  8,  8,  8, 10,  4,  4,  4,  4,  4,  9,  4,  4,  4,  8,  4,  4,
        4,  4,  4,  4,  8,  4,  4,  8,  8,  8,  8,  4,  5,  4,  8,  9,  4,
        4,  4,  4,  4,  4,  8,  4,  4,  4,  8,  9,  4,  9,  4,  8,  8,  8,
        4,  4,  9,  4,  8,  7, 10, 10,  4,  4,  8,  4,  4,  4,  8,  4,  8,
        8,  8,  4,  8,  4,  4,  4,  4,  0,  8,  8,  8,  4,  4,  4,  4,  1,
        1,  6,  6,  6,  6, 10,  1,  1, 10, 11,  9, 11, 11, 11, 11,  9, 11,
       11, 11,  9, 11, 11, 11, 11,  0, 11,  0, 11, 11, 11, 11,  0,  0,  0,
        0, 11,  0, 11, 11, 11, 11, 11,  0])

Create a new column on the original dataframe called Cluster and place your results (x) in that column

In [81]:
df["Cluster"]= x
df.head()

,ID Tag,Model,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost,Department,Cluster
0,1,MYLAB ALPHA,10,43.333333,54.166667,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING,1
1,2,ASPEN,1,24.000000,30.000000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING,1
2,3,IE33,4,210.000000,262.500000,0,0.0,2.0,150.0,CARDIOVASCULAR IMAGING,6
3,4,BVI 9400,9,54.666667,68.333333,1,0.0,2.0,150.0,REHAB CENTER,1
4,5,BVI 9400,1,102.000000,127.500000,0,0.0,2.0,150.0,REHAB CENTER,10

Let's sort the dataframe by cluster.

In [82]:
df = df.sort_values(['Cluster'])
df

,ID Tag,Model,WO count,AVG Labor,Labor Cost,No Problem,Avg Cost,Travel,Travel Cost,Department,Cluster
195,196,EPIQ 7C,4,288.000000,360.000000,0,0.000000,0.000000,0.000000,PEDIATRIC CARDIOLOGY,0
189,190,LOGIQ 5,1,180.000000,225.000000,0,0.000000,0.000000,0.000000,OB/GYN CLINIC,0
187,188,S NERVE,5,180.000000,225.000000,1,0.000000,0.000000,0.000000,ANESTHESIA,0
186,187,LOGIQ P6,12,130.000000,162.500000,0,0.000000,0.000000,0.000000,LABOR/DELIVERY,0
185,186,SITE RITE 6,13,203.538462,254.423077,0,0.000000,0.000000,0.000000,MED/RENAL/GASTRO,0
184,185,SITE RITE 6,23,131.739130,164.673913,1,0.000000,0.000000,0.000000,MED/RENAL/GASTRO,0
179,180,S5,17,172.941176,216.176471,0,3.529412,0.000000,0.000000,CARDIAC CATH LAB,0
177,178,SITE RITE 6,8,132.000000,165.000000,0,0.000000,0.000000,0.000000,ICU,0
33,34,LOGIQ E,6,145.000000,181.250000,0,0.000000,0.000000,0.000000,RHEUMATOLOGY,0
144,145,EPIQ 7C,7,182.571429,228.214286,0,0.000000,1.000000,75.000000,CARDIAC NON-INVASIVE,0
43,44,MYLAB 30CV,3,50.000000,62.500000,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,1
45,46,S SERIES,1,42.000000,52.500000,0,0.000000,2.000000,150.000000,INSTITUTE OF BIOSKILLS,1
50,51,HD11XE,1,6.000000,7.500000,0,0.000000,2.000000,150.000000,ADVANCED CARDIOLOGY,1
53,54,IE33,1,60.000000,75.000000,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,1
56,57,X300,1,6.000000,7.500000,0,0.000000,2.000000,150.000000,CARD ASSOC,1
152,153,S-WONEN'S HEALTH,1,42.000000,52.500000,0,0.000000,2.000000,150.000000,RIDGEMEDICAL ASSOCIATES,1
63,64,M-TURBO,2,60.000000,75.000000,0,0.000000,2.000000,150.000000,ER,1
65,66,HD15,4,67.500000,84.375000,0,0.000000,2.000000,150.000000,EKG,1
31,32,LOGIQ E9,1,0.000000,0.000000,0,0.000000,2.000000,150.000000,OUTPATIENT IMAGING CENTER,1
153,154,VSCAN,2,54.000000,67.500000,0,0.000000,3.000000,225.000000,LABOR & DELIVERY,1
159,160,M-TURBO,3,60.000000,75.000000,0,0.000000,3.000000,225.000000,EMERGENCY DEPARTMENT,1
160,161,MU-4,2,45.000000,56.250000,1,0.000000,3.000000,225.000000,PHYSICAL THERAPY,1
57,58,IE33,1,0.000000,0.000000,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,1
24,25,LOGIQ 200 PRO,9,38.666667,48.333333,1,0.000000,2.000000,150.000000,Maternal Fetal Medicine,1
0,1,MYLAB ALPHA,10,43.333333,54.166667,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,1
19,20,LOGIQ P5,6,61.000000,76.250000,0,0.000000,2.000000,150.000000,Maternal Fetal Medicine,1
1,2,ASPEN,1,24.000000,30.000000,0,0.000000,2.000000,150.000000,CARDIOVASCULAR IMAGING,1
3,4,BVI 9400,9,54.666667,68.333333,1,0.000000,2.000000,150.000000,REHAB CENTER,1
15,16,VIVIDQ,1,0.000000,0.000000,0,0.000000,2.000000,150.000000,CARD ASSOC,1
21,22,LOGIQ 200A,17,62.470588,78.088235,1,95.962353,2.000000,150.000000,Maternal Fetal Medicine,1
...,...,...,...,...,...,...,...,...,...,...,...
46,47,VOLUSON E8 EXPERT,8,97.500000,121.875000,0,0.000000,2.000000,150.000000,Maternal Fetal Medicine,10
48,49,LOGIQ E,4,75.000000,93.750000,0,0.000000,2.000000,150.000000,CARD ASSOC,10
17,18,VIVID E9,5,84.000000,105.000000,0,0.000000,2.000000,150.000000,CARD ASSOC,10
126,127,IE33,16,81.000000,101.250000,0,0.000000,1.562500,117.187500,CARDIAC NON-INVASIVE,10
125,126,IE33,17,98.470588,123.088235,0,0.000000,1.588235,119.117647,CARDIAC NON-INVASIVE,10
51,52,IE33,3,124.000000,155.000000,0,66.666667,2.000000,150.000000,CARDIOVASCULAR IMAGING,10
16,17,SEQUOIA C512,7,107.142857,133.928571,0,0.000000,2.000000,150.000000,CV IMAGING,10
170,171,SSD-ALPHA10SX,8,69.000000,86.250000,0,0.000000,0.000000,0.000000,ENDOSCOPY,11
193,194,M-TURBO,1,60.000000,75.000000,0,0.000000,0.000000,0.000000,NEUROSCIENCE CENTER,11
192,193,LOGIQ E9,6,96.000000,120.000000,0,0.000000,0.000000,0.000000,ULTRASOUND,11
191,192,VIVID E9,6,81.000000,101.250000,0,0.000000,0.000000,0.000000,CARDIAC SERVICES-NON INVASIVE,11
190,191,LOGIG S8,8,98.250000,122.812500,0,0.000000,0.000000,0.000000,CARDIAC SERVICES-NON INVASIVE,11
164,165,VIVIDQ,23,88.173913,110.217391,1,35.747826,0.000000,0.000000,PEDIATRIC CARDIOLOGY,11
188,189,BVI 9400,8,97.500000,121.875000,0,0.000000,0.000000,0.000000,CARDIAC/TELEMETRY,11
194,195,FLEX FOCUS 500,1,90.000000,112.500000,0,0.000000,0.000000,0.000000,ENDOSCOPY,11
165,166,EU-M30,7,49.000000,61.250000,1,0.000000,0.000000,0.000000,ENDOSCOPY,11
166,167,EV-MEI,4,67.500000,84.375000,0,0.000000,0.000000,0.000000,ENDOSCOPY,11
167,168,2101FALCON,16,109.500000,136.875000,1,21.250000,0.000000,0.000000,ENDOSCOPY,11
183,184,LOGIQ 200A,5,84.000000,105.000000,0,0.000000,0.000000,0.000000,LABOR/DELIVERY,11
182,183,M2540A ENVISOR,6,79.000000,98.750000,0,1.666667,0.000000,0.000000,OPERATING ROOM,11
181,182,S NERVE,6,63.000000,78.750000,0,0.000000,0.000000,0.000000,ANESTHESIA,11
180,181,IE33,30,100.400000,125.500000,1,0.000000,0.000000,0.000000,CARDIOPULMONARY,11
162,163,EDGE,4,82.500000,103.125000,0,0.000000,0.000000,0.000000,RADIOLOGY SPECIAL PROCEDURES,11
178,179,PIONEER TC8080,10,99.000000,123.750000,1,0.000000,0.000000,0.000000,CARDIAC CATH LAB,11
176,177,VOLUSON E8,3,44.000000,55.000000,0,0.000000,0.000000,0.000000,Maternal Fetal Medicine,11
175,176,VOLUSON E8,7,82.285714,102.857143,0,0.000000,0.000000,0.000000,Maternal Fetal Medicine,11
174,175,VOLUSON I,23,92.608696,115.760870,1,0.000000,0.000000,0.000000,Maternal Fetal Medicine,11
169,170,SSD-ALPHA5,9,94.000000,117.500000,1,90.000000,0.000000,0.000000,ENDOSCOPY,11
171,172,LOGIQ 200A,7,43.714286,54.642857,0,0.000000,0.000000,0.000000,Maternal Fetal Medicine,11
173,174,VOLUSONE8 730 EXPERT,52,106.153846,132.692308,3,0.000000,0.000000,0.000000,Maternal Fetal Medicine,11

Export it into excel sheet where you can observe the full data with divided clusters.

In [83]:
from pandas import ExcelWriter

writer = ExcelWriter('clustered.xlsx')
df.to_excel(writer,'Sheet1')
writer.save()

Now as you start to examine the data in each cluster, you show start to see patterns emerge.
For example, it could be: 

- Cluster 0: Low work order and labor count
- Cluster 1: High labor and parts cost
- Cluster 2: Low travel cost 
- Cluster 3: High work order and "No problem found" count